*{
  font-family: "Comfortaa", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body{
  background-image: url("./images/clear.jpg");
  transition: background-image 1.2s ease-in-out;
  background-repeat: no-repeat ;
  background-size: cover;
  background-position: center;
}
h3{
  padding-left: 10px;
  font-size: 1.5rem;
}
.navBar{
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchBar{
  margin-right: 35px;
  width: 40%;
  border-radius:15px;
  backdrop-filter: blur(10px);
  border: 1px solid white;
  background-color: whitesmoke;
}
input{
  font-size: 1rem;
  outline: none;
  border: none;
  width: 90%;
  height: 5vh;
  color: black;
  font-weight: 500;
  background-color: transparent;
  margin-left: 10px;
}
.searchBar input::placeholder{
  color: black;
  font-size: medium;
}
#searchBtn{
  width: 30px;
  height: 30px;
  font-size: large;
  border: none ;
  background-color: black;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 1px;
}
#searchBtn:hover{
  cursor: pointer;
  opacity: 0.7;
}
.parentDiv{
  display: flex;
  width: 100%;
  height: 92vh;
}
.leftDiv{
  width: 25%;
  height: 88vh;
  margin-left: 20px;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.divTop{
  height: 45%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 20px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
}
.dateDiv, .timeDiv{
  margin: 10px;
  display: flex;
  align-items: center;
}
.divBottom{
  height: 50%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 20px;
  margin-bottom: 25px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
}
.forecastRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.rightDiv{
  margin-right: 20px;
  width: 75%;
  align-items: center;
}
.divOne{
  margin-top: 20px;
  height:25vh;
  display: flex;
  justify-content: space-between;
}
.measures{
  width: 18%;
  height: 20vh;
  font-size: larger;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.divTwo{
  width: 100%;
  height: 62vh;
  display: flex;
  align-items: center;
  gap : 30px
}
#aqi{
  width: 30%;
  height: 40vh;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aqi-contanier{
  margin-top: 10px;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.aqi-item{
  height: 40%;
  width:40%;
  border-radius: 10px;
  overflow: none;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.status-container{
  display: flex;
  align-items: center;
}

#rise-set{
  width: 30%;
  height: 40vh;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}





#wind-speed{
  width: 40%;
  height: 60vh;
  align-items: center ;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}
